/* src/components/Projects.css */

.project {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background: #111;
  color: #fff;
}

.nav-pills {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: nowrap;  /* Ensure the tabs stay in one line */
  overflow-x: auto;  /* Allow horizontal scrolling if necessary */
}

.nav-pills .nav-item {
  flex: 1;
}

.nav-pills .nav-link {
  border-radius: 20px;
  background: #222;
  color: #fff;
  margin: 0 5px;  /* Reduced margin to fit more tabs in one line */
  padding: 10px 15px;  /* Reduced padding to fit more tabs in one line */
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
  border: 2px solid transparent;
  text-align: center;
}

.nav-pills .nav-link:hover {
  background: #333;
  transform: scale(1.05);
}

.nav-pills .nav-link.active {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  border-color: #6a11cb;
  color: #fff;
}

.background-image-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 50%;
}

.project h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.project p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 18px;
  color: #ccc;
}
